footer.footer-container 
    .footer-wrapper
        ul.col-1 
            li 
                a Sitemap 
            li 
                a(href="/") Home
            li 
                a(href="/create") New Blog
            li 
                a(href="/my-blogs") My Blogs 
        ul.col-2 
            li  
                a Contact Us  
            li  
                a +998 (YY) XXX XX XX   
            li  
                a +7 (YYY) XXX XX XX   
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11988.346389362328!2d69.2833793!3d41.3069797!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xda0402847aed7b96!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0JLQtdGB0YLQvNC40L3RgdGC0LXRgNGB0LrQuNC5INCj0L3QuNCy0LXRgNGB0LjRgtC10YIg0LIg0KLQsNGI0LrQtdC90YLQtQ!5e0!3m2!1sru!2s!4v1617184208685!5m2!1sru!2s" width="600" height="300" allowfullscreen="" loading="lazy")  
    .footer-copyright 
        p JoyTime, © Copyright 2021. All rights reserved