header.navbar 
    h1.logo 
        a(href="/") 
            |Joy
            span Time 
    ul.nav-items
        li 
            a(href="/") Home  
        li 
            a(href="/create") New Blog  
        li 
            a(href="/my-blogs") My Blogs  