extends layout.pug 

block content 
    section.main-section 
        .para
            p This Blog Application is built to post and/or
            p read the posted blogs by the user.
            p Click the Button below to create a new blog
            br
            br
            a(href="/create" method="get") New Blog 
        img(src="sitting-desktop.svg", alt="")
